<%- layout('layouts/boilearplate') %>
<% block('head').append('<link rel="stylesheet" href="../css/productPage.css">') %>
<main class="main">
    <!-- Cart Section -->
    <section class="cart container" id="cart">
       <h3 class="text-medium font-medium center">Shopping Cart</h3>
       <div class="cart-wrapper">
          <article class="cart-content">
             <picture class="cart-image">
                <img src="<%= prod.fileToUpload[0]['url'] %>" alt="product">
             </picture>
             <div class="cart-detail">
                <h3 class="text-base font-semi"><%= prod.title %></h3>
                <p class="text-small font-medium"><%= prod.price %></p>
                <div class="cart-counter">
                   <div class="cart-block">
                      <button class="cart-button" role="button">
                         <i class="bx bx-minus"></i>
                      </button>
                      <span class="cart-amount">1</span>
                      <button class="cart-button" role="button">
                         <i class="bx bx-plus"></i>
                      </button>
                   </div>
                   <div class="cart-remove">
                      <button class="cart-button" role="button">
                         <i class="bx bx-trash"></i>
                      </button>
                   </div>
                </div>
             </div>
          </article>
          <article class="cart-content">
             <picture class="cart-image">
                <img src="https://i.ibb.co/3msVHYZ/sneaker-image.png" alt="product">
             </picture>
             <div class="cart-detail">
                <h3 class="text-base font-semi"><%= prod.title %></h3>
                <p class="text-small font-medium"><%= prod.price %></p>
                <div class="cart-counter">
                   <div class="cart-block">
                      <button class="cart-button" role="button">
                         <i class="bx bx-minus"></i>
                      </button>
                      <span class="cart-amount">1</span>
                      <button class="cart-button" role="button">
                         <i class="bx bx-plus"></i>
                      </button>
                   </div>
                   <div class="cart-remove">
                      <button class="cart-button" role="button">
                         <i class="bx bx-trash"></i>
                      </button>
                   </div>
                </div>
             </div>
          </article>
       </div>
       <div class="cart-checkout">
          <div class="cart-total">
             <p class="text-base font-medium">Total:</p>
             <p class="text-medium font-semi"><%= prod.price %></p>
          </div>
          <button class="btn btn-darken">
             Checkout <i class="bx bx-chevron-right"></i>
          </button>
       </div>
    </section>
    <!-- Wrapper Section -->
    <section class="section wrapper wrapper-section">
       <div class="container wrapper-column">
          <div class="wrapper-overlay">
             <img src="https://i.ibb.co/3msVHYZ/sneaker-image.png" class="wrapper-image" alt="product">
          </div>
          <div class="wrapper-content">
             <div class="wrapper-inform">
                <span class="badge badge-darken"><%= prod.brand %></span>
                <h1 class="display-medium font-bold"><%= prod.title %></h1>
                <p class="text-base font-normal">
                  <%= prod.description %>
                </p>
             </div>
             <div class="wrapper-detail">
                <div class="price">
                   <span class="text-base font-medium">Price:</span>
                   <h3 class="text-large font-semi"><%= prod.price %></h3>
                </div>
                <div class="sizes">
                   <span class="text-base font-medium">Sizes:</span>
                   <ul class="sizes-lists">
                      <li class="sizes-item is-select">37</li>
                      <li class="sizes-item">39</li>
                      <li class="sizes-item">41</li>
                      <li class="sizes-item">43</li>
                      <li class="sizes-item">45</li>
                   </ul>
                </div>
             </div>
             <div class="wrapper-action">
                <button class="btn btn-darken" disabled>Add to Bag</button>
                <button class="btn btn-default" disabled>
                   <i class="bx bx-heart"></i>
                </button>
             </div>
          </div>
       </div>
    </section>
    <form action="/products/<%= prod._id %>?_method=DELETE" method="POST">
      <button class="btn btn-danger">DELETE</button>    
   </form>
   <div>
      <button type="reset" onclick="location.href='/products/<%= prod._id %>/edit'"></i> Edit</button>
   </div>
 </main>
 <% block('footer').append('<script src="../js/productPage.js"></script>') %>