<%- layout('layouts/boilearplate') %>
<div>
    <div>
        <div>
            <% for(let image of prod.fileToUpload){ %>
                <img src="<%= image.url %>" alt="Product Image">
            <% } %>
        </div>
        <div>
            <div>
                <h2><%= prod.category %></h2>
            </div>
            <div>
                <h2><%= prod.brand %></h2>
            </div>
            <div>
                <h2><%= prod.title %></h2>
            </div>
            <div>
                <h2><%= prod.description %></h2>
            </div>
            <div>
                <h3><%= prod.price %></h3>
            </div>
            <div>
                <h2><%= prod.location %></h2>
            </div>
            <div>
                <h2><%= prod.phone %></h2>
            </div>
        </div>
    </div>
    <div>
        <!--List of same product with same cotegery-->
    </div>
</div>