<% layout('layouts/boilearplate') %>
<% block('head').append('<link rel="stylesheet" href="../css/profile.css">') %>
<div>
    <div class="profile-header">
      <div class="profile-img">
        <% if(currentUser.profileImg){ %>
        <% }else{ %>
          <img src="<%= currentUser.photos %>" width="200" alt="Profile Image">
        <% } %>
      </div>
      <div class="profile-nav-info">
        <h3 class="user-name"><%= currentUser.username %></h3>
        <div class="/ress">
          <p id="state" class="state">Madhya Pradesh,</p>
          <span id="country" class="country">India.</span>
        </div>
  
      </div>
      <!-- <div class="profile-option">
        <div class="notification">
          <i class="fa fa-bell"></i>
          <span class="alert-message">3</span>
        </div>
      </div> -->
    </div>
  
    <div class="main-bd">
      <div class="left-side">
        <div class="profile-side">
          <p class="mobile-no"><i class="fa fa-phone"></i>+91<%= currentUser.phone %></p>
          <p class="user-mail"><i class="fa fa-envelope"></i> <%= currentUser.email %></p>
          <div class="user-bio">
            <h3>Bio</h3>
            <p class="bio">
              Hey, there I am on College-Bazaar your one stop shop for selling buying items.  
            </p>
          </div>
          <div class="profile-btn">
            <button type="reset" onclick="location.href='/logout'" class="chatbtn" id="chatBtn"></i>Logout</button>
            <button type="reset" onclick="location.href='/newProduct'"  class="createbtn" id="Create-post"></i> Edit</button>
          </div>
        </div>
      </div>
      <div class="right-side" style="width: 100%; padding: 10px; border-radius: 5px;">
  
        <div class="profileNav">
          <ul>
            <button onclick="tabs(0)" class="user-post" style="padding: 5px; font-size: 1.5rem; font-weight: 600;">Posts</button>
            <button onclick="tabs(1)" class="user-review" style="padding: 5px; font-size: 1.5rem; font-weight: 600;">Reviews</button>
          </ul>
        </div>
        <div class="profile-body">
          <div class="profile-posts tab">
            <% if(product){ %>
              <% for(prod of product){ %>
                <a href="/products/<%= prod._id %>" style="margin: 0;padding: 0;">
                  <div class="post-card">
                    <div class="post-img">
                        <img src="<%= prod.fileToUpload[0].url %>" alt="Post Image">
                    </div>
                    <div class="post-info">
                        <h2><%= prod.title  %></h2>
                        <h3><%= prod.brand  %></h3>
                    </div>
                </a>
            </div>
            <% } %>
            <% } %>
          </div>
          <div class="profile-reviews tab" style="flex-direction: column;">
            <h1>User reviews</h1>
            <p>No reviews yet!</p>
          </div>
          <div class="profile-settings tab">
            <div class="account-setting">
              <h1>Acount Setting</h1>
              <p>Under Development :/</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% block('footer').append('<script src="../js/profile.js"></script>') %>